<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Privacy</key>
	<string></string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Access to photo library is required to upload videos</string>
	<key>NSCameraUsageDescription</key>
	<string>Access to camera is required to record videos</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Access to microphone is required to record videos with sound</string>
</dict>
</plist>
